.wrapper-layout {
	display: flex;
}

.wrapper-menu {
	display: flex;
	flex-direction: column;
	padding: 30px 0 0 30px;
	min-width: 210px;
	min-height: 100vh;
	border-right: 1px solid var(--separator-color);
}


.fullName-text {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 20px;
	color: var(--text-color);
	margin-top: 21px;
}

.mail-text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	color: var(--text-third-color);
	margin-top: 3px;
}

.main-menu {
	margin-top: 46px;
	display: flex;
	flex-direction: column;
}

.link-menu {
	display: flex;
	margin-bottom: 34px;
}

.link-menu:hover {
	color: var(--primary-color);
}

.active {
	color: var(--primary-color);
}

.text-menu {
	margin-left: 17px;
}

.cart-counter {
	background-color: var(--primary-color);
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	color: var(--white-color);
	font-size: 14px;
}


.footer-btn {
	display: flex;
	align-items: center;
	text-align: center;
	width: 117px !important;
	box-shadow: 0 10px 30px 0 rgba(254, 114, 76, 0.2);
	position: absolute;
	bottom: 53px;
}

.exit-icon {
	width: 26px;
	height: 26px;
	margin-left: 5px;
	margin-right: 9px;
}

.content {
	margin: 39px 60px 0 60px;
	width: 100%;
}