.button {
	border-radius: 28px;
	border: none;
	text-align: center;
	font-family: var(--font);
	color: var(--white-color);
	cursor: pointer;
}

.accent:hover {
	background: var(--primary-hover-color);
}

.accent {
	background: var(--primary-color);
}

.big {
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	box-shadow: 0 10px 40px 0 rgba(122, 129, 190, 0.16);
	width: 248px;
	height: 60px;
}

.small {
	border-radius: 28px;
	width: 141px;
	height: 44px;
	font-weight: 400;
	font-size: 16px;
}