:root {
	--font: 'Open Sans', sans-serif;
	--primary-color: #fe724c;
	--primary-hover-color: #bb563a;
	--text-color: #000000;
	--text-secondary-color: #5b5b5e;
	--text-third-color: #9796A1;
	--white-color: #ffffff;
	--separator-color: #d4d6e0;
	--invalid-color: #b50b0baf;
}

body {
	font-family: 'Open Sans', sans-serif;
	
}
